* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

body {
  background: linear-gradient(
    90deg,
    #0d4c92 0%,
    #59c1bd 35%,
    #a0e4cb 72%,
    #cff5e7 100%
  );
}

@tailwind base;
@tailwind components;
@tailwind utilities;
